<header class="rrr container">

    <div class="test">
        <div class="swiper  container-swiper">


            <div class="swiper-wrapper sliders-container">

                <div class="swiper-slide slid-container">
                    <div class="div-for-slide"><img src="/img/webp/photo-1455659817273-f96807779a8a.jfif"></div>
                </div>
                <div class="swiper-slide slid-container">
                    <div class="div-for-slide"><img src="/img/webp/photo-1471696035578-3d8c78d99684.jfif"></div>
                </div>
                <div class="swiper-slide slid-container">
                    <div class="div-for-slide"> <img src="/img/webp/photo-1496861083958-175bb1bd5702.jfif"></div>
                </div>
                <div class="swiper-slide slid-container">
                    <div class="div-for-slide"><img src="/img/webp/photo-1507646871303-331b8f659227.jfif"></div>
                </div>
                <div class="swiper-slide slid-container">
                    <div class="div-for-slide"><img src="/img/webp/photo-1523909693274-b57f4aea34cc.jfif"></div>
                </div>
                <div class="swiper-slide slid-container">
                    <div class="div-for-slide"><img src="/img/webp/photo-1558594278-e45f60d17fe0.jfif"></div>
                </div>
                <div class="swiper-slide slid-container">
                    <div class="div-for-slide"><img src="/img/webp/photo-1554494583-c4e1649bfe71.jfif"></div>
                </div>
                <div class="swiper-slide slid-container">
                    <div class="div-for-slide"><img src="/img/webp/photo-1566196725116-0527b2a8a25d.jfif"></div>
                </div>
                <div class="swiper-slide slid-container">
                    <div class="div-for-slide"><img src="/img/webp/photo-1567566221756-5282476c4684.jfif"></div>
                </div>
                <div class="swiper-slide slid-container">
                    <div class="div-for-slide"><img src="/img/webp/photo-1587471577460-bdb4891711ce.jfif"></div>
                </div>
                <div class="swiper-slide slid-container">
                    <div class="div-for-slide"><img src="/img/webp/photo-1601131699703-57785a13f8de.jfif"></div>
                </div>
                <div class="swiper-slide slid-container">
                    <div class="div-for-slide"><img src="/img/webp/photo-1602615576820-ea14cf3e476a.jfif"></div>
                </div>


            </div>
        </div>



        <div class="swiper-button-prev" data-arrow="prev"></div>
        <div class="swiper-button-next" data-arrow="next"></div>

        <script type="module" src="./main.js"></script>
    </div>
</header>